@import "colors";
@import "variables";

.mastercraft {
  @include card; // ajouter width
  width: 90%;
  bottom: 8vh;
  margin-bottom: unset;
  position: relative;
  padding-left: clamp(1.172rem, 5vw, 2.085rem);
  padding-right: clamp(1.172rem, 5vw, 2.085rem);
  padding-top: clamp(3.048rem, 13vw, 3.336rem);
  padding-bottom: clamp(2.345rem, 10vw, 4.170rem);
  text-align: center;

  button.bookmark-desktop {
    display: none;
  }

  &::before {
    content: url(../images/logo-mastercraft.svg);
    position: absolute;
    top: -11%;
    left: 44%;
  }

  h1 {
    font-size: clamp(1.407rem, 5.9vw, 2rem);
    margin-bottom: 1em;
  }

  p {
    @include paragraph;
    margin-bottom: 1.876em; // 30.0167px 
  }

  .cta {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      cursor: pointer;
    }
  }

  button:not(.bookmark-mobile) {
    width: 78%;
    @include appButton;
    font-size: clamp(0.937rem, 4vw, 1.33rem);
    padding: 1.3em 1.04em; // 19.5167 px
  }

  button.bookmark-mobile {
    border: none;
    border-radius: 100%;
    width: clamp(3.518rem, 15vw, 5.004rem);
  }

}

@media screen and (min-width: $desktop) {

  .mastercraft {
    bottom: 15vh;
    width: 55%;
    position: relative;
    text-align: center;
    padding: 3.5vw;
    margin-bottom: 2vw;

    button.bookmark-mobile {
      display: none;
    }

    &::before {
      content: url(../images/logo-mastercraft.svg);
      position: absolute;
      top: -10%;
      left: 46%;
    }

    h1 {
      font-size: 2.3vw;
      margin-bottom: 1vw;
    }

    p {
      font-size: 1.2vw;
      line-height: unset;
      margin-bottom: 3vw;
    }

    button:not(.bookmark-desktop) {
      @include appButton;
      font-size: 1.1vw;
      width: 31%;
    }

    .bookmark-desktop {
      position: relative;
      display: block !important;
      padding: 1.3vw 1.3vw 1.3vw 4.8vw !important;
      font-size: 1.1vw !important;
      font-weight: 700 !important;
      width: 27% !important;
      color: $black;
      background-color: whitesmoke !important;

      span {
        padding-right: 30px !important;
      }

      img {
        top: 0;
        left: 0;
        width: auto;
        position: absolute;
      }
    }
  }
}