@import "colors";
@import "variables";

.stats {
    @include card;
    width: 100%;
    text-align: center;
    padding-left: clamp(1.172rem, 5vw, 2.085rem);
    padding-right: clamp(1.172rem, 5vw, 2.085rem);
    padding-top: clamp(2.345rem, 10vw, 4.170rem);
    padding-bottom: clamp(2.345rem, 10vw, 4.170rem);

    .container {
        display: flex;
        flex-direction: column;
        margin-bottom: 5vw;

        &:not(:last-child)::after {
            width: 30%;
            content: "";
            margin: 0 auto;
            border-bottom: 2px solid $dark-gray;
        }

        span:nth-child(1) {
            font-size: clamp(2.345rem, 10vw, 4.17rem);
            color: $black;
            font-weight: 700;
            margin-bottom: 0.25em; // 9.38333px
        }

        span:nth-child(2) {
            color: $dark-gray;
            margin-bottom: 1.641em;
            font-weight: 500;
        }
    }

    .loading-bar {
        width: 100%;
        background-color: lightgrey;
        height: clamp(0.937rem, 4vw, 1.25rem); //15px
        border-radius: 40px;
        position: relative;

        .filler {
            width: 0%;
            position: absolute;
            left: 0;
            background-color: $moderate-cyan;
            height: clamp(0.937rem, 4vw, 1.25rem);
            border-radius: 40px;
            transition: width 600ms ease-in;
        }
    }
}

@media screen and (min-width: $desktop) {
    .stats {
        width: 55%;
        text-align: left;
        position: relative;
        bottom: 9vw;
        padding: 3.5vw;
        .containers {
            display: flex;
            flex-direction: row;

            .container {
                width: 27%;
                margin-right: 3vw;
                margin-bottom: 2.5vw;

                &::after {
                    display: none;
                }

                span:nth-child(1) {
                    font-size: 2.2vw;
                    color: $black;
                    margin-bottom: .5vw;
                    font-weight: 700;
                }

                span:nth-child(2) {
                    color: $dark-gray;
                    margin-bottom: unset;
                    font-weight: 500;

                }
            }

            .container:not(:last-child) {
                border-right: 2px solid whitesmoke;
            }
        }

        .loading-bar {
            width: 100%;
            background-color: lightgrey;
            height: 1.1vw;
            border-radius: 40px;
            position: relative;

            .filler {
                width: 0%;
                position: absolute;
                left: 0;
                background-color: $moderate-cyan;
                height: 1.1vw;
                border-radius: 40px;
                transition: width 600ms ease-in;
            }
        }
    }
}