.mastercraft {
  position: relative;
  width: 90%;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 10vw;
  padding-bottom: 10vw;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  border: 1px solid red;

  &::before {
    content: url(../images/logo-mastercraft.svg);
    position: absolute;
    top: -7vw;
    left: 38vw;
  }

  h1 {
      font-size: 5.9vw;
  }
}
