/* Fonts */
/* Colors */
/* Layout */
/* Variables */
/* Mixins */
/* Colors */
.load {
  width: 79% !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Commissioner", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.background-image {
  padding: 3vw 7vw;
  height: 40vh;
  background-image: url(../images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.background-image header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Colors */
/* Colors */
/* Layout */
/* Variables */
/* Mixins */
.mastercraft {
  bottom: 8vh;
  position: relative;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 13vw;
  padding-bottom: 10vw;
  text-align: center;
  width: 90%;
  background-color: white;
  border-radius: 8px;
  border: 1px solid white;
  -webkit-box-shadow: 0px 0px 1px 1px whitesmoke;
          box-shadow: 0px 0px 1px 1px whitesmoke;
  margin-bottom: 8vw;
}

.mastercraft::before {
  content: url(../images/logo-mastercraft.svg);
  position: absolute;
  top: -7vw;
  left: 38vw;
}

.mastercraft h1 {
  font-size: 5.9vw;
  margin-bottom: 6vw;
}

.mastercraft p {
  color: #7a7a7a;
  font-weight: 500;
  font-size: 3.9vw;
  line-height: 7vw;
  font-weight: 500;
  margin-bottom: 8vw;
}

.mastercraft .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mastercraft button:not(.bookmark) {
  width: 78%;
  border: none;
  padding: 4.5vw;
  color: white;
  font-weight: 500;
  font-size: 5vw;
  border-radius: 40px;
  letter-spacing: .5px;
  background-color: #3cb4ac;
}

.mastercraft button.bookmark {
  border: none;
  border-radius: 100%;
}

/* Colors */
/* Colors */
/* Layout */
/* Variables */
/* Mixins */
.stats {
  width: 90%;
  background-color: white;
  border-radius: 8px;
  border: 1px solid white;
  -webkit-box-shadow: 0px 0px 1px 1px whitesmoke;
          box-shadow: 0px 0px 1px 1px whitesmoke;
  margin-bottom: 8vw;
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 10vw;
  padding-bottom: 10vw;
}

.stats .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5vw;
}

.stats .container:not(:last-child)::after {
  width: 30%;
  content: "";
  margin: 0 auto;
  border-bottom: 2px solid #7a7a7a;
}

.stats .container span:nth-child(1) {
  font-size: 10vw;
  color: black;
  font-weight: 700;
  margin-bottom: 2.5vw;
}

.stats .container span:nth-child(2) {
  color: #7a7a7a;
  margin-bottom: 7vw;
  font-weight: 500;
}

.stats .loading-bar {
  width: 100%;
  background-color: lightgrey;
  height: 4vw;
  border-radius: 40px;
  position: relative;
}

.stats .loading-bar .filler {
  width: 0%;
  position: absolute;
  left: 0;
  background-color: #3cb4ac;
  height: 4vw;
  border-radius: 40px;
  -webkit-transition: width 600ms ease-in;
  transition: width 600ms ease-in;
}

.about {
  width: 90%;
  background-color: white;
  border-radius: 8px;
  border: 1px solid white;
  -webkit-box-shadow: 0px 0px 1px 1px whitesmoke;
          box-shadow: 0px 0px 1px 1px whitesmoke;
  margin-bottom: 8vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 10vw;
  padding-bottom: 10vw;
}

.about h2 {
  font-size: 5.7vw;
  margin-bottom: 8vw;
}

.about p {
  color: #7a7a7a;
  font-weight: 500;
  font-size: 3.9vw;
  line-height: 7vw;
  font-weight: 500;
}

.about > p {
  margin-bottom: 8vw;
}

.about .reward {
  width: 90%;
  background-color: white;
  border-radius: 8px;
  border: 1px solid white;
  -webkit-box-shadow: 0px 0px 1px 1px whitesmoke;
          box-shadow: 0px 0px 1px 1px whitesmoke;
  margin-bottom: 8vw;
  border: 1px solid lightgray;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 10vw;
  padding-bottom: 10vw;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15vw;
}

.about .reward h3 {
  margin-bottom: 1vw;
  font-size: 4.5vw;
}

.about .reward > p {
  margin-bottom: 8vw;
}

.about .reward .pledge {
  font-weight: 500;
  color: #3cb4ac;
  font-size: 4.5vw;
  margin-bottom: 5vw;
}

.about .reward .left {
  font-size: 5vw;
  margin-bottom: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .reward .left :first-child {
  font-size: 10vw;
  font-weight: 700;
  color: black;
  margin-right: 2vw;
}

.about .reward button {
  border: none;
  padding: 4.5vw;
  color: white;
  font-weight: 500;
  font-size: 5vw;
  border-radius: 40px;
  letter-spacing: .5px;
  background-color: #3cb4ac;
  width: 80%;
}

.about .reward:last-child {
  opacity: .4;
  margin-bottom: 0;
}

.about .reward:last-child button {
  background-color: #7a7a7a;
}
/*# sourceMappingURL=styles.css.map */